#include <bits/stdc++.h>
using namespace std;

{{USER_CODE}}

int main() {
    string line1, line2;
    getline(cin, line1);
    getline(cin, line2);
    vector<int> nums;
    stringstream ss(line1);
    string item;
    while (getline(ss, item, ',')) {
        nums.push_back(stoi(item));
    }
    int target = stoi(line2);
    cout << search(nums, target) << endl;
    return 0;
}