{{USER_CODE}}

const fs = require('fs')
const rawInput = fs.readFileSync(0, 'utf-8').trim()
if (rawInput) {
    const args = JSON.parse(rawInput)
    const sol = new Solution()
    const methods = Object.getOwnPropertyNames(Solution.prototype).filter(m => m !== 'constructor')
    const methodName = methods[0]
    const res = sol[methodName](...args)
    if (res === null || res === undefined) {
        console.log("None")
    } else if (typeof res === 'boolean') {
        console.log(res ? "true" : "false")
    } else if (typeof res === 'object') {
        console.log(JSON.stringify(res))
    } else {
        console.log(res)
    }
}